<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{file.name}}</h5>
    <p class="card-text">{{file.description}}</p>
    <div class="d-flex justify-content-between mb-3">
      <button type="button" class="btn btn-outline-success" (click)="showCommentsToggle()">
        {{showComments ? 'Hide' : 'Show'}} comments
      </button>
      <button type="button" class="btn btn-outline-success" (click)="showAddCommentInput()">+ Add comment</button>
      <form #scoreForm="ngForm" class="d-flex justify-content-between" *ngIf="!file.evaluation"
            (ngSubmit)="submitScore(scoreForm)">
        <input ngModel required type="number" class="form-control" style="width: 4rem;" name="score" min="0" max="100">
        <button type="submit" class="btn btn-primary ms-1">Evaluate the work</button>
      </form>
      <div *ngIf="file.evaluation" class="btn btn-outline" style="width: 14rem;">
        Your score: {{file.evaluation}}
      </div>
      <a href="#" class="btn btn-outline">Owner: {{file.owner || 'unknown'}}</a>
      <a class="btn btn-secondary" (click)="downloadFile(file.id, file.name)">
        Download file
      </a>
    </div>
    <div *ngIf="file.comments && showComments">
      <div *ngFor="let comment of file.comments" class="card border-secondary mb-3">
        <div class="card-body text-secondary">
          <p class="card-text">{{comment.time | date:'short'}} // {{comment.author}}:</p>
          <p class="card-text">{{comment.content}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="addCommentInput">
      <form [formGroup]="addComment" (ngSubmit)="submitComment()">
        <div class="input-group mb-3 mt-3">
          <input type="text" class="form-control" placeholder="Add comment" aria-label="Add comment"
                 aria-describedby="comment" formControlName="text">
          <button class="btn btn-outline-secondary" type="submit" id="comment">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
