<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <nav class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <a routerLink="/" class="nav-link px-2 link-secondary">Home</a>
    <a routerLink="/upload" class="nav-link px-2 link-secondary">Upload file</a>
  </nav>

  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <div class="col-md-3 text-end">
    <a routerLink="/auth" type="button" class="btn btn-outline-primary me-2">Login</a>
    <a routerLink="/reg" type="button" class="btn btn-primary">Sign up</a>
  </div>
</header>
